/* Scrollbar Customization */
/* Set the width and style of the scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px; /* Add rounded border to the scrollbars */
}

/* Set the background color of the scrollbar */
::-webkit-scrollbar-track {
  background: #f8fafc;
  border-radius: 10px; /* Make the background rounded as well */
}

/* Set the color of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px; /* Make the thumb (the draggable part) rounded */
}

/* Set the color of the scrollbar when hovering */
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

/* DARK MODE: Scrollbar Customization */

/* Set the background color of the scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #0f172a;
  opacity: 0.2;
  border-radius: 10px; /* Make the background rounded as well */
}

/* Override styles for #landing */
.dark #landing ::-webkit-scrollbar-track {
  background: none;
  opacity: 1;
  border-radius: 0;
}

/* Set the color of the scrollbar */
.dark ::-webkit-scrollbar-thumb {
  background: #083344;
  border-radius: 10px; /* Make the thumb (the draggable part) rounded */
}

/* Set the color of the scrollbar when hovering */
.dark ::-webkit-scrollbar-thumb:hover {
  background: #164e63;
}
